.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.randomContainer {
  border: 1.5px solid black;
  border-radius: 0.2em;
  background-color: rgb(246, 224, 228);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  width: 30rem;
  height: 25rem;
}

.userHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.picture {
  margin-top: 1rem;
  border-radius: 4rem;
  width: 6rem;
}

.detail {
  display: flex;
  /* justify-content: space-evenly; */
  margin-left: 5rem;
  margin-top: 1rem;
}

.icon {
  height: 2rem;
  margin-right: 5rem;
}

.bottom {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: small;
}

button {
  display: block;
  margin-left: 40%;
  margin-top: 3rem;
  padding: 0.8rem;
  background-color: rgb(236, 124, 195);
  border: none;
  border-radius: 0.2rem;
  color: white;
  font-size: medium;
}
button:hover {
  background-color: rgb(246, 224, 228);
  cursor: pointer;
  color: black;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}
